<div class="container">

 <div align="center">
  <input type="text" [(ngModel)]="empId">
  <button (click)="getEmpById()" class="btn btn-primary">Show Employee Details</button>
 </div>
 <div *ngIf="employee">
  <table class="table table-hover">
   <thead class="thead-dark">
    <tr class="bg-info text-white" align="center">
     <th scope="col">Id</th>
     <th scope="col">Name</th>
     <th scope="col">Gender</th>
     <th scope="col">DOJ</th>
     <th scope="col">Salary</th>
     <th scope="col">Login ID</th>
     <th scope="col">Experience</th>
     <th scope="col">Edit</th>
     <th scope="col">Delete</th>
    </tr>
   </thead>
   <tbody>
    <tr align="center">
     <th scope="row">{{employee.employeeId}}</th>
     <td>{{employee.employeeName | uppercase | gender: employee.employeeGender}}</td>
     <td>{{employee.employeeGender | uppercase}}</td>
     <td>{{employee.employeeDoj | date:'MMM dd, yyyy'}}</td>
     <td>{{employee.employeeSalary | currency:'USD'}}</td>
     <td>{{employee.loginId}}</td>
     <td>{{employee.employeeDoj | experience}}</td>
     <td>
      <a href=""><i class="fas fa-user-edit"></i></a>
     </td>
     <td>
      <a href=""><i class="fas fa-trash-alt" style="color:red;"></i></a>
     </td>
    </tr>
   </tbody>
  </table>
 </div>

</div>